@page "/"
@inject HeadBuilderService head
@inject IManagePages managePages
@inject Microsoft.Extensions.Configuration.IConfiguration config
@using BlazorForum.Pages.Components.Forums.SubComponents

@if (_sitePage == null)
{
    <p>Loading...</p>
}
else
{
    <section>
        <header>
            <h1>@_sitePage.Title</h1>
        </header>
        <section>
            @((MarkupString)_sitePage.MainContent)
        </section>
    </section>
    <section class="container-fluid p-0 mt-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <RecentlyActiveForumTopics></RecentlyActiveForumTopics>
            </div>
            <div class="col-12 col-md-6">
                <RecentForumTopics></RecentForumTopics>
            </div>
        </div>
    </section>
}

@code{
    private Models.SitePage _sitePage;

    protected override async Task OnInitializedAsync()
    {
        head.Title = config.GetSection("SiteTitle").Value;
        _sitePage = await managePages.GetIndexPageAsync();
        head.Description = _sitePage.MainContent;
    }
}