@inherits LayoutComponentBase
@using BlazorForum.Pages.Components.Google

<div class="main">
    <section class="top-row auth">
        <div class="top-row-nav-area">
            <NavMenu />
        </div>
        <div class="top-row-login-area">
            <LoginDisplay />
        </div>
    </section>
    <section class="content px-4">
        @Body
    </section>
    <section class="container-fluid px-4 mt-2">
        <OnlineUsers />
    </section>
    <footer class="blazorforum-footer">
        Powered by <a href="https://blazorforum.net" target="_blank">BlazorForum</a>
    </footer>
</div>
<GoogleAnalytics></GoogleAnalytics>
