@inject Microsoft.Extensions.Configuration.IConfiguration appConfig

<nav class="container-fluid">
    <div class="d-none d-md-block">
        <a class="navbar-brand" href="">@appConfig.GetSection("SiteNavbarBrand").Value</a>
        <div class="d-inline-block">
            <NavList></NavList>
        </div>
    </div>

    <div class="navbar navbar-dark d-md-none">
        <a class="navbar-brand" href="">@appConfig.GetSection("SiteNavbarBrand").Value</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="oi oi-menu"></span>
        </button>
    </div>

    <div class="d-md-none @_navMenuCssClass" @onclick="ToggleNavMenu" id="navbar-toggler-panel">
        <NavList></NavList>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;

    private string _navMenuCssClass => _collapseNavMenu ? "collapse navbar-collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
