@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (SignInManager.IsSignedIn(User))
{
    <div class="register-btn-container">
        <a class="logged-in-user-text" href="/profile/@UserManager.GetUserName(User)" title="Manage">Hello, @User.Identity.Name!</a>
    </div>
    <div class="login-btn-container">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
            <button  type="submit" class="btn btn-sm btn-light">Logout</button>
        </form>
    </div>
}
else
{
    <div class="register-btn-container">
        <a class="btn btn-sm btn-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div class="login-btn-container">
        <a class="btn btn-sm btn-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
