@page "/dashboard"

@inject HeadBuilderService head

<h1>Administration</h1>
<section class="content-container">
    <p>Welcome to your administration area. The plan is to add general information here about the site, like stats, etc...</p>
</section>


@code{
    protected override void OnInitialized()
    {
        head.Title = "Dashboard | Administration";
    }
}