<header class="forum-topic-header">
    <h3>@Topic.Title</h3>
    <div class="forum-post-time d-inline-block">
        Posted @Domain.Utilities.Formatting.DateTimeFormatting.RelativeDateAgo(Topic.PostedDate)
        by <a class="topic-user-link" href="/profile/@Topic.UserName">@Topic.UserName</a>
    </div>
    @if (Topic.EditedDate != null)
    {
        <div class="forum-post-time ml-3 d-inline-block">
            Edited @DateTimeFormatting.RelativeDateAgo(Convert.ToDateTime(Topic.EditedDate))
        </div>
    }
</header>

@code {
    [Parameter] public Models.ForumTopic Topic { get; set; }
}
