@inject IManageForumTopics manageForumTopics
@inject IManageForumPosts  manageForumPosts
@inject IManageUsers manageUsers

<header>
    <h3>Recently Active Topics</h3>
</header>
@if (_topics == null || _postCountList == null)
{
    <div class="mb-2 loading-div">
        <em><i class="oi oi-cog se-spin-icon"></i> @GeneralResources.Loading</em>
    </div>
}
else
{
    <ul class="forum-post-ul">
        @foreach (var topic in _topics)
        {
            <li>
                <h6 class="">
                    <a href="@String.Format("/topic/{0}/{1}", topic.ForumTopicId, UrlFormatting.PrepareUrlText(topic.Title))">@topic.Title</a>
                    <span class="text-nowrap">( @ForumTopicCountHelpers.GetTopicCount(_postCountList, topic.ForumTopicId) )</span>
                </h6>
                <div class="topic-author">
                    @{ GetRepliedDate(topic); }
                    Replied to @_postedAgo
                </div>
            </li>
        }
    </ul>
}

@code {
    private List<Models.ForumTopic> _topics { get; set; }
    private List<TopicPostCount> _postCountList = new List<TopicPostCount>();
    private int _topicsCount = 10;
    private string _postedAgo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _topics = await manageForumTopics.GetActiveTopicsAsync(_topicsCount);
        _postCountList = await new ForumTopicCountHelpers(manageForumPosts).GetTopicsPostCountListAsync(_topics);
    }

    protected void GetRepliedDate(ForumTopic topic)
    {
        var recentPost = topic.ForumPosts.OrderByDescending(p => p.PostedDate).FirstOrDefault();
        if (recentPost != null)
        {
            _postedAgo = Domain.Utilities.Formatting.DateTimeFormatting.RelativeDateAgo(recentPost.PostedDate);
        }
    }
}